<nav style="height: 750px;background-color: #252C48;" >
    <a class="navbar-brand p-2 m-2" href="#">
      <span style="color: white;">kona</span><span style="color: #E9204F;">digital.ai</span>
    </a>
    <ul class="navbar-nav p-2  m-2">
        <li class="nav-item">
          <a class="nav-link" (click)="navigatetodash()" routerlink="/dash">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="navigatetoleads()">Leads</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" >Reports</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" >Settings</a>
        </li>
      </ul>
</nav>



     
 
