<body>
    <div id="login">
        <div id="text"class="name">Kona<span style="color: #E9204F;">digital.ai</span></div>
        <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" class="col-md-12">
                        <form id="login-form" class="form" action="" method="post" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                            <div style="font-size: 30px;text-align: center;"class="login">Change Password</div>
                         
                          
                            <div class="txt_field">
                                <input type="email" style="color: whitesmoke;" formControlName="emailId" [ngClass]="{ 'is-invalid': submitted && f.emailId.errors }" placeholder="Email Id" required>
                                <span></span>
                                <label for=""></label>
                                <div *ngIf="submitted && f.emailId.errors" class="invalid-feedback">
                                    <div *ngIf="f.emailId.errors.required">Email Id is required</div>
                                    <!-- <div *ngIf="f.username.errors.userExist">username is same</div> -->
                                </div>
                            </div>
                         
                         
                            <div class="txt_field">
                                <input type="password" style="color: whitesmoke;" formControlName="currentPassword"  [ngClass]="{ 'is-invalid': submitted && f.currentPassword.errors }" placeholder="Current Password" required>
                                <span></span>
                                <label for=""></label>
                                <div *ngIf="submitted && f.currentPassword.errors" class="invalid-feedback">
                                    <div *ngIf="f.currentPassword.errors.required">Password is required</div>
                                    <div *ngIf="f.currentPassword.errors.minlength">Password must be at least 6 characters</div>
                                </div>
                            </div>

                            <div class="txt_field">
                                <input type="password" style="color: whitesmoke;" formControlName="newPassword"  [ngClass]="{ 'is-invalid': submitted && f.newPassword.errors }" placeholder="New Password" required>
                                <span></span>
                                <label for=""></label>
                                <div *ngIf="submitted && f.newPassword.errors" class="invalid-feedback">
                                    <div *ngIf="f.newPassword.errors.required">Password is required</div>
                                    <div *ngIf="f.newPassword.errors.minlength">Password must be at least 6 characters</div>
                                </div>
                            </div>
                          
                            <input type="submit" value="Submit">
                          
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
